{% extends 'base.html.twig' %}

{% block title %}Itinéraires{% endblock %}

{% block body %}
    <h1>Liste des itinéraires</h1>
    {# <ul>
        {% for itineraire in itineraires %}
            <li>{{ itineraire.name }} - {{ itineraire.description }}</li>
        {% endfor %}
    </ul> #}

    <div id="map" style="height: 500px;"></div>

<script>
    var map = L.map('map').setView([45.4397, 4.3872], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);
</script>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
{% endblock %}